openapi: 3.1.0
info:
  title: Reyna Pay Engine API
  version: v1
  description: |-
    The Reyna Pay engine processes payments, manages customers,
    tokenizes cards, tracks risk, and exposes reporting.

    All endpoints under /api/v1/* require an API key passed via
    the `Authorization: Bearer <key>` header. POST endpoints
    additionally require an `Idempotency-Key: <UUID v4>` header
    to prevent duplicate processing.

    See https://docs.reynapay.com for integration guides.
  contact:
    name: Reyna Pay Engineering
    email: engineering@reynapay.com
servers:
  - url: https://portal.salontransact.com
    description: Production
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Reyna Pay API key
      description: >-
        Bearer authentication using a Reyna Pay API key. Issued per merchant via the merchant
        portal. Pass as `Authorization: Bearer <key>`. Keys begin with `rp_live_` (production) or
        `rp_test_` (test mode).
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - unauthorized
                - forbidden
                - not_found
                - validation_error
                - idempotency_conflict
                - rate_limit_exceeded
                - payment_failed
                - internal_error
                - method_not_allowed
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              additionalProperties: {}
              description: Optional structured error details (e.g. failed field name)
          required:
            - code
            - message
      required:
        - error
    IdempotencyKey:
      type: string
      format: uuid
      example: 550e8400-e29b-41d4-a716-446655440000
    HealthResponse:
      type: object
      properties:
        ok:
          type: boolean
          enum:
            - true
          example: true
        service:
          type: string
          example: salontransact-engine
        version:
          type: string
          example: '2026-04-29'
      required:
        - ok
        - service
        - version
    ChargeListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Charge'
        has_more:
          type: boolean
        next_cursor:
          type:
            - string
            - 'null'
          description: >-
            Opaque base64url-encoded cursor. Pass to the next request as ?cursor=<value>. Null when
            there are no more pages.
      required:
        - data
        - has_more
        - next_cursor
    Charge:
      type: object
      properties:
        id:
          type: string
          example: ch_clx7y8z9a0001b2c3d4e5f6g7
        object:
          type: string
          enum:
            - charge
        status:
          type: string
          enum:
            - succeeded
            - failed
            - requires_capture
          description: >-
            succeeded = funds captured. failed = card declined or processing error. requires_capture
            = auth-only, awaiting POST /charges/:id/capture.
        amount_cents:
          type: integer
          exclusiveMinimum: 0
          example: 8500
        currency:
          type: string
          minLength: 3
          maxLength: 3
          example: usd
        captured:
          type: boolean
        captured_at:
          type:
            - string
            - 'null'
          format: date-time
        description:
          type:
            - string
            - 'null'
        source:
          $ref: '#/components/schemas/ChargeSource'
        customer_id:
          type:
            - string
            - 'null'
        stylist_id:
          type:
            - string
            - 'null'
        booking_id:
          type:
            - string
            - 'null'
        tip_amount_cents:
          type: integer
          minimum: 0
        items:
          type:
            - array
            - 'null'
          items:
            $ref: '#/components/schemas/ChargeItem'
        metadata:
          type:
            - object
            - 'null'
          additionalProperties: {}
        approval_code:
          type:
            - string
            - 'null'
        decline_reason:
          type:
            - string
            - 'null'
        created_at:
          type: string
          format: date-time
        payroc:
          type: object
          properties:
            payment_id:
              type:
                - string
                - 'null'
          required:
            - payment_id
      required:
        - id
        - object
        - status
        - amount_cents
        - currency
        - captured
        - captured_at
        - description
        - source
        - customer_id
        - stylist_id
        - booking_id
        - tip_amount_cents
        - items
        - metadata
        - approval_code
        - decline_reason
        - created_at
        - payroc
    ChargeSource:
      type: object
      properties:
        type:
          type: string
          enum:
            - saved_card
            - single_use_token
          description: >-
            saved_card = use a previously stored Payroc secureToken. single_use_token = use a
            freshly tokenized card from Hosted Fields (one-time use, ~30 minute lifetime).
        id:
          type:
            - string
            - 'null'
          description: >-
            For saved_card: the SavedPaymentMethod row ID. For single_use_token: the Payroc
            single-use token. Null when the source identifier is not available in the response
            (e.g., older transactions without source metadata).
        last4:
          type:
            - string
            - 'null'
          minLength: 4
          maxLength: 4
          description: Last 4 digits of the card. Null if unknown.
        brand:
          type:
            - string
            - 'null'
          description: Card brand (Visa, Mastercard, AmEx, Discover, etc). Null if unknown.
      required:
        - type
        - id
        - last4
        - brand
    ChargeItem:
      type: object
      properties:
        name:
          type: string
          maxLength: 200
          example: Haircut & Style
        amount_cents:
          type: integer
          minimum: 0
          example: 8500
      required:
        - name
        - amount_cents
    ChargeCreateRequest:
      type: object
      properties:
        amount_cents:
          type: integer
          exclusiveMinimum: 0
          example: 8500
          description: Amount to charge in cents. Must be a positive integer.
        currency:
          type: string
          minLength: 3
          maxLength: 3
          example: usd
          description: ISO 4217 currency code, lowercase. Defaults to 'usd'.
        description:
          type: string
          maxLength: 500
          example: Haircut & color — Apr 30
        source:
          type: object
          properties:
            type:
              type: string
              enum:
                - saved_card
                - single_use_token
            id:
              type: string
              minLength: 1
          required:
            - type
            - id
          description: >-
            Payment source. saved_card.id = SavedPaymentMethod row ID. single_use_token.id = Payroc
            single-use token from Hosted Fields submissionSuccess event.
        customer_id:
          type: string
        customer_email:
          type: string
          format: email
        customer_name:
          type: string
          maxLength: 200
        capture:
          type: boolean
          description: >-
            true (default) = authorize and capture immediately. false = authorize only; call POST
            /charges/:id/capture to capture later. Auths expire per Payroc rules (typically 7 days
            for most card brands).
        stylist_id:
          type: string
        booking_id:
          type: string
        tip_amount_cents:
          type: integer
          minimum: 0
          description: Tip in cents. Must not exceed amount_cents. Tracked separately for stylist attribution.
        items:
          type: array
          items:
            $ref: '#/components/schemas/ChargeItem'
          maxItems: 100
        metadata:
          type: object
          additionalProperties: {}
          description: >-
            Arbitrary JSON object for merchant-specific data. Max 10KB serialized. Stripped of
            internal Reyna Pay keys before being returned in responses.
      required:
        - amount_cents
        - source
    CaptureCreateRequest:
      type: object
      properties:
        amount_cents:
          type: integer
          exclusiveMinimum: 0
          description: >-
            Capture amount in cents. Defaults to the original auth amount. May be less than the
            original auth (partial capture) but not greater.
    Refund:
      type: object
      properties:
        id:
          type: string
          example: rf_clx7y8z9a0001b2c3d4e5f6g7
        object:
          type: string
          enum:
            - refund
        charge_id:
          type: string
          example: ch_clx7y8z9a0001b2c3d4e5f6g7
        amount_cents:
          type: integer
          exclusiveMinimum: 0
        total_refunded_cents:
          type: integer
          minimum: 0
        original_amount_cents:
          type: integer
          exclusiveMinimum: 0
        fully_refunded:
          type: boolean
        reason:
          type:
            - string
            - 'null'
        created_at:
          type: string
          format: date-time
        payroc:
          type: object
          properties:
            refund_id:
              type:
                - string
                - 'null'
          required:
            - refund_id
      required:
        - id
        - object
        - charge_id
        - amount_cents
        - total_refunded_cents
        - original_amount_cents
        - fully_refunded
        - reason
        - created_at
        - payroc
    RefundCreateRequest:
      type: object
      properties:
        amount_cents:
          type: integer
          exclusiveMinimum: 0
          description: >-
            Amount to refund in cents. Defaults to the remaining unrefunded amount on the charge.
            Must not exceed (original - already refunded).
        reason:
          type: string
          maxLength: 200
    Void:
      type: object
      properties:
        id:
          type: string
          example: vd_clx7y8z9a0001b2c3d4e5f6g7_1234567890
        object:
          type: string
          enum:
            - void
        charge_id:
          type: string
        reason:
          type:
            - string
            - 'null'
        voided_at:
          type: string
          format: date-time
        payroc:
          type: object
          properties:
            void_id:
              type:
                - string
                - 'null'
          required:
            - void_id
      required:
        - id
        - object
        - charge_id
        - reason
        - voided_at
        - payroc
    VoidCreateRequest:
      type: object
      properties:
        reason:
          type: string
          maxLength: 200
    TokenizationSession:
      type: object
      properties:
        object:
          type: string
          enum:
            - tokenization_session
        session_token:
          type: string
          description: >-
            Short-lived token used to bootstrap a Hosted Fields session in the browser. Pass to
            Payroc.hostedFields() as sessionToken.
        expires_at:
          type: string
          format: date-time
        terminal_id:
          type: string
        lib_url:
          type: string
          format: uri
          description: >-
            Pinned CDN URL of the Hosted Fields SDK. Load this script in the browser BEFORE calling
            Payroc.hostedFields().
        integrity:
          type: string
          description: >-
            Subresource Integrity hash for the SDK script tag. Pass as the integrity attribute on
            the <script> tag for tamper protection.
        scenario:
          type: string
          enum:
            - payment
            - tokenization
      required:
        - object
        - session_token
        - expires_at
        - terminal_id
        - lib_url
        - integrity
        - scenario
    TokenizationSessionCreateRequest:
      type: object
      properties:
        scenario:
          type: string
          enum:
            - payment
            - tokenization
          description: >-
            payment (default) = single-use card tokenization for an immediate charge. tokenization =
            card tokenization for storage as a saved card.
    CustomerListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Customer'
        has_more:
          type: boolean
        next_cursor:
          type:
            - string
            - 'null'
      required:
        - data
        - has_more
        - next_cursor
    Customer:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          enum:
            - customer
        email:
          type: string
          format: email
        name:
          type:
            - string
            - 'null'
        phone:
          type:
            - string
            - 'null'
        tier:
          type: string
          enum:
            - new
            - regular
            - occasional
            - lapsed
          description: >-
            Customer engagement tier computed from visit history: new (no transactions yet),
            occasional (1–3 visits in last 365d), regular (4+ visits in last 365d), lapsed (had
            transactions but last visit was more than 365 days ago).
        total_transactions:
          type: integer
          minimum: 0
        total_spent_cents:
          type: integer
          minimum: 0
        saved_card_count:
          type: integer
          minimum: 0
        days_since_last_visit:
          type:
            - integer
            - 'null'
        first_seen_at:
          type: string
          format: date-time
        last_seen_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
      required:
        - id
        - object
        - email
        - name
        - phone
        - tier
        - total_transactions
        - total_spent_cents
        - saved_card_count
        - days_since_last_visit
        - first_seen_at
        - last_seen_at
        - created_at
    CustomerDetail:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          enum:
            - customer
        email:
          type: string
          format: email
        name:
          type:
            - string
            - 'null'
        phone:
          type:
            - string
            - 'null'
        tier:
          type: string
          enum:
            - new
            - regular
            - occasional
            - lapsed
          description: >-
            Customer engagement tier computed from visit history: new (no transactions yet),
            occasional (1–3 visits in last 365d), regular (4+ visits in last 365d), lapsed (had
            transactions but last visit was more than 365 days ago).
        total_transactions:
          type: integer
          minimum: 0
        total_spent_cents:
          type: integer
          minimum: 0
        saved_card_count:
          type: integer
          minimum: 0
        days_since_last_visit:
          type:
            - integer
            - 'null'
        first_seen_at:
          type: string
          format: date-time
        last_seen_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        saved_cards:
          type: array
          items:
            $ref: '#/components/schemas/CustomerSavedCardInline'
        recent_transactions:
          type: array
          items:
            $ref: '#/components/schemas/CustomerRecentTransactionInline'
      required:
        - id
        - object
        - email
        - name
        - phone
        - tier
        - total_transactions
        - total_spent_cents
        - saved_card_count
        - days_since_last_visit
        - first_seen_at
        - last_seen_at
        - created_at
        - saved_cards
        - recent_transactions
    CustomerSavedCardInline:
      type: object
      properties:
        id:
          type: string
        last4:
          type:
            - string
            - 'null'
          minLength: 4
          maxLength: 4
        brand:
          type:
            - string
            - 'null'
        expiry_month:
          type:
            - string
            - 'null'
        expiry_year:
          type:
            - string
            - 'null'
        cardholder_name:
          type:
            - string
            - 'null'
        label:
          type:
            - string
            - 'null'
        status:
          type: string
        created_at:
          type: string
          format: date-time
        last_used_at:
          type:
            - string
            - 'null'
          format: date-time
      required:
        - id
        - last4
        - brand
        - expiry_month
        - expiry_year
        - cardholder_name
        - label
        - status
        - created_at
        - last_used_at
    CustomerRecentTransactionInline:
      type: object
      properties:
        id:
          type: string
          example: ch_clx7y8z9a0001b2c3d4e5f6g7
        amount_cents:
          type: integer
          minimum: 0
        tip_amount_cents:
          type: integer
          minimum: 0
        status:
          type: string
        description:
          type:
            - string
            - 'null'
        stylist_id:
          type:
            - string
            - 'null'
        booking_id:
          type:
            - string
            - 'null'
        created_at:
          type: string
          format: date-time
      required:
        - id
        - amount_cents
        - tip_amount_cents
        - status
        - description
        - stylist_id
        - booking_id
        - created_at
    CustomerLtv:
      type: object
      properties:
        customer_id:
          type: string
        total_spent_cents:
          type: integer
          minimum: 0
        total_transactions:
          type: integer
          minimum: 0
        average_ticket_cents:
          type: integer
          minimum: 0
        highest_ticket_cents:
          type: integer
          minimum: 0
        by_year:
          type: array
          items:
            $ref: '#/components/schemas/CustomerLtvByYear'
        computed_at:
          type: string
          format: date-time
      required:
        - customer_id
        - total_spent_cents
        - total_transactions
        - average_ticket_cents
        - highest_ticket_cents
        - by_year
        - computed_at
    CustomerLtvByYear:
      type: object
      properties:
        year:
          type: integer
        spent_cents:
          type: integer
          minimum: 0
        transaction_count:
          type: integer
          minimum: 0
      required:
        - year
        - spent_cents
        - transaction_count
    CustomerVisits:
      type: object
      properties:
        customer_id:
          type: string
        total_visits:
          type: integer
          minimum: 0
        visits_last_30_days:
          type: integer
          minimum: 0
        visits_last_90_days:
          type: integer
          minimum: 0
        visits_last_365_days:
          type: integer
          minimum: 0
        average_days_between_visits:
          type:
            - number
            - 'null'
        tier:
          type: string
          enum:
            - new
            - regular
            - occasional
            - lapsed
          description: >-
            Customer engagement tier computed from visit history: new (no transactions yet),
            occasional (1–3 visits in last 365d), regular (4+ visits in last 365d), lapsed (had
            transactions but last visit was more than 365 days ago).
        first_visit_at:
          type:
            - string
            - 'null'
          format: date-time
        last_visit_at:
          type:
            - string
            - 'null'
          format: date-time
        visits:
          type: array
          items:
            $ref: '#/components/schemas/CustomerVisitInline'
      required:
        - customer_id
        - total_visits
        - visits_last_30_days
        - visits_last_90_days
        - visits_last_365_days
        - average_days_between_visits
        - tier
        - first_visit_at
        - last_visit_at
        - visits
    CustomerVisitInline:
      type: object
      properties:
        transaction_id:
          type: string
        visited_at:
          type: string
          format: date-time
        amount_cents:
          type: integer
          minimum: 0
        tip_amount_cents:
          type: integer
          minimum: 0
        description:
          type:
            - string
            - 'null'
        stylist_id:
          type:
            - string
            - 'null'
        stylist_name:
          type:
            - string
            - 'null'
      required:
        - transaction_id
        - visited_at
        - amount_cents
        - tip_amount_cents
        - description
        - stylist_id
        - stylist_name
    CardListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Card'
        has_more:
          type: boolean
        next_cursor:
          type:
            - string
            - 'null'
      required:
        - data
        - has_more
        - next_cursor
    Card:
      type: object
      properties:
        id:
          type: string
          example: card_clx7y8z9a0001b2c3d4e5f6g7
        object:
          type: string
          enum:
            - card
        customer_id:
          type:
            - string
            - 'null'
        customer_email:
          type: string
          format: email
        last4:
          type:
            - string
            - 'null'
          minLength: 4
          maxLength: 4
        brand:
          type:
            - string
            - 'null'
          description: Visa, Mastercard, AmEx, Discover, etc. Null if unknown.
        expiry_month:
          type:
            - string
            - 'null'
        expiry_year:
          type:
            - string
            - 'null'
        cardholder_name:
          type:
            - string
            - 'null'
        label:
          type:
            - string
            - 'null'
        status:
          type: string
          description: active, revoked, or expired.
        last_used_at:
          type:
            - string
            - 'null'
          format: date-time
        created_at:
          type: string
          format: date-time
      required:
        - id
        - object
        - customer_id
        - customer_email
        - last4
        - brand
        - expiry_month
        - expiry_year
        - cardholder_name
        - label
        - status
        - last_used_at
        - created_at
    CardDeleteResponse:
      type: object
      properties:
        id:
          type: string
        deleted:
          type: boolean
          enum:
            - true
      required:
        - id
        - deleted
    Location:
      type: object
      properties:
        id:
          type: string
          example: loc_clx7y8z9a0001b2c3d4e5f6g7
        object:
          type: string
          enum:
            - location
        name:
          type: string
          example: Salon Envy — Corpus Christi
        address_line1:
          type:
            - string
            - 'null'
          example: 5601 S Padre Island Dr STE E
        address_line2:
          type:
            - string
            - 'null'
        city:
          type:
            - string
            - 'null'
          example: Corpus Christi
        state:
          type:
            - string
            - 'null'
          example: TX
        zip:
          type:
            - string
            - 'null'
          example: '78412'
        phone:
          type:
            - string
            - 'null'
          example: '+13618891102'
        timezone:
          type: string
          example: America/Chicago
          description: IANA timezone identifier.
        status:
          type: string
          enum:
            - active
            - inactive
        is_primary:
          type: boolean
          description: >-
            Exactly one location per merchant is primary. The first location created is forced
            primary regardless of request body. Setting is_primary: true on a new location
            automatically unmarks the previous primary.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - object
        - name
        - address_line1
        - address_line2
        - city
        - state
        - zip
        - phone
        - timezone
        - status
        - is_primary
        - created_at
        - updated_at
    LocationCreateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
          example: Salon Envy — San Antonio
        address_line1:
          type: string
        address_line2:
          type: string
        city:
          type: string
        state:
          type: string
          minLength: 2
          maxLength: 2
          description: 2-letter US state code (uppercase). Validated.
          example: TX
        zip:
          type: string
          description: 5-digit or 9-digit US zip code. Validated by regex.
          example: '78258'
        phone:
          type: string
        timezone:
          type: string
          description: IANA timezone. Defaults to America/Chicago.
        is_primary:
          type: boolean
          description: >-
            Set true to make this the primary location, automatically demoting the existing primary.
            The first location for a merchant is always primary regardless of this field.
      required:
        - name
    MeResponse:
      type: object
      properties:
        apiKey:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            keyPrefix:
              type: string
              description: >-
                First few characters of the key (e.g. 'rp_live_'). Useful for confirming the
                consumer is using the correct key without exposing the full secret.
          required:
            - id
            - name
            - keyPrefix
        merchant:
          type: object
          properties:
            id:
              type: string
            businessName:
              type: string
            email:
              type: string
              format: email
          required:
            - id
            - businessName
            - email
      required:
        - apiKey
        - merchant
    TransactionsReport:
      type: object
      properties:
        object:
          type: string
          enum:
            - report
        type:
          type: string
          enum:
            - transactions
        group_by:
          type: string
          enum:
            - day
            - week
            - month
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
        totals:
          $ref: '#/components/schemas/TransactionsReportTotals'
        periods:
          type: array
          items:
            $ref: '#/components/schemas/TransactionsReportPeriod'
      required:
        - object
        - type
        - group_by
        - from
        - to
        - totals
        - periods
    TransactionsReportTotals:
      type: object
      properties:
        volume_cents:
          type: integer
          minimum: 0
        count:
          type: integer
          minimum: 0
        fees_cents:
          type: integer
          minimum: 0
        net_cents:
          type: integer
          minimum: 0
        tips_cents:
          type: integer
          minimum: 0
        refunds_cents:
          type: integer
          minimum: 0
        refund_count:
          type: integer
          minimum: 0
      required:
        - volume_cents
        - count
        - fees_cents
        - net_cents
        - tips_cents
        - refunds_cents
        - refund_count
    TransactionsReportPeriod:
      type: object
      properties:
        period:
          type: string
          description: 'Period key. Format depends on group_by: ''YYYY-MM-DD'' for day/week, ''YYYY-MM'' for month.'
        volume_cents:
          type: integer
          minimum: 0
        count:
          type: integer
          minimum: 0
        fees_cents:
          type: integer
          minimum: 0
        net_cents:
          type: integer
          minimum: 0
        tips_cents:
          type: integer
          minimum: 0
        refunds_cents:
          type: integer
          minimum: 0
        refund_count:
          type: integer
          minimum: 0
      required:
        - period
        - volume_cents
        - count
        - fees_cents
        - net_cents
        - tips_cents
        - refunds_cents
        - refund_count
    CashFlowReport:
      type: object
      properties:
        object:
          type: string
          enum:
            - report
        type:
          type: string
          enum:
            - cash_flow
        days:
          type: integer
          minimum: 7
          maximum: 365
        inflow:
          type: object
          properties:
            volume_cents:
              type: integer
              minimum: 0
            transaction_count:
              type: integer
              minimum: 0
            fees_cents:
              type: integer
              minimum: 0
            net_cents:
              type: integer
              minimum: 0
            tips_cents:
              type: integer
              minimum: 0
            refunds_cents:
              type: integer
              minimum: 0
          required:
            - volume_cents
            - transaction_count
            - fees_cents
            - net_cents
            - tips_cents
            - refunds_cents
        outflow:
          type: object
          properties:
            paid_cents:
              type: integer
              minimum: 0
            paid_count:
              type: integer
              minimum: 0
            pending_cents:
              type: integer
              minimum: 0
            pending_count:
              type: integer
              minimum: 0
          required:
            - paid_cents
            - paid_count
            - pending_cents
            - pending_count
        net_position_cents:
          type: integer
          description: >-
            Net cents = inflow.net_cents - outflow.paid_cents. Can be negative (over-payout).
            Excludes pending payouts.
      required:
        - object
        - type
        - days
        - inflow
        - outflow
        - net_position_cents
    PayoutsReport:
      type: object
      properties:
        object:
          type: string
          enum:
            - report
        type:
          type: string
          enum:
            - payouts
        count:
          type: integer
          minimum: 0
        total_cents:
          type: integer
          minimum: 0
        data:
          type: array
          items:
            $ref: '#/components/schemas/PayoutReportItem'
      required:
        - object
        - type
        - count
        - total_cents
        - data
    PayoutReportItem:
      type: object
      properties:
        id:
          type: string
        amount_cents:
          type: integer
          minimum: 0
        currency:
          type: string
          minLength: 3
          maxLength: 3
        status:
          type: string
        arrival_date:
          type:
            - string
            - 'null'
          format: date-time
        description:
          type:
            - string
            - 'null'
        created_at:
          type: string
          format: date-time
      required:
        - id
        - amount_cents
        - currency
        - status
        - arrival_date
        - description
        - created_at
    RiskReport:
      type: object
      properties:
        object:
          type: string
          enum:
            - report
        type:
          type: string
          enum:
            - risk
        window_days:
          type: integer
          minimum: 7
          maximum: 365
        completed_transactions:
          type: integer
          minimum: 0
        chargeback_count:
          type: integer
          minimum: 0
        chargeback_ratio:
          type: number
          description: >-
            chargeback_count / completed_transactions. Visa monitoring threshold is 0.009 (0.9%);
            excessive chargeback program threshold is 0.018 (1.8%).
        status:
          type: string
          description: ok | monitoring | excessive — derived from ratio against Visa thresholds.
        thresholds:
          type: object
          properties:
            visa_monitoring:
              type: number
            visa_excessive:
              type: number
          required:
            - visa_monitoring
            - visa_excessive
        computed_at:
          type: string
          format: date-time
      required:
        - object
        - type
        - window_days
        - completed_transactions
        - chargeback_count
        - chargeback_ratio
        - status
        - thresholds
        - computed_at
    StylistAttributionReport:
      type: object
      properties:
        object:
          type: string
          enum:
            - report
        type:
          type: string
          enum:
            - stylist_attribution
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
        data:
          type: array
          items:
            $ref: '#/components/schemas/StylistAttributionItem'
          description: Sorted by volume_cents descending.
      required:
        - object
        - type
        - from
        - to
        - data
    StylistAttributionItem:
      type: object
      properties:
        stylist_id:
          type:
            - string
            - 'null'
        stylist_name:
          type: string
          description: >-
            Stylist's display name. 'Unknown' if stylist_id is set but stylist record is missing.
            'Unassigned' if stylist_id is null on the transaction.
        transaction_count:
          type: integer
          minimum: 0
        volume_cents:
          type: integer
          minimum: 0
        tips_cents:
          type: integer
          minimum: 0
        commission_rate:
          type:
            - number
            - 'null'
          description: Decimal between 0 and 1 (e.g. 0.55 = 55%). Null if not configured.
        commission_cents:
          type:
            - integer
            - 'null'
          description: volume_cents × commission_rate. Null when rate is unset.
        average_ticket_cents:
          type: integer
          minimum: 0
      required:
        - stylist_id
        - stylist_name
        - transaction_count
        - volume_cents
        - tips_cents
        - commission_rate
        - commission_cents
        - average_ticket_cents
    RiskCheckResponse:
      type: object
      properties:
        object:
          type: string
          enum:
            - risk_check
        score:
          type: integer
          minimum: 0
          maximum: 100
        band:
          type: string
          enum:
            - low
            - medium
            - high
            - critical
        recommendation:
          type: string
          enum:
            - proceed
            - proceed_with_caution
            - require_additional_verification
            - decline_or_manual_review
        factors:
          type: array
          items:
            $ref: '#/components/schemas/RiskFactor'
        velocity_alerts:
          type: array
          items:
            $ref: '#/components/schemas/VelocityAlert'
        should_block:
          type: boolean
          description: >-
            true = velocity rules are tripped at a level that should block the charge entirely
            (regardless of band). false = consumer's choice based on band + recommendation.
        checked_at:
          type: string
          format: date-time
      required:
        - object
        - score
        - band
        - recommendation
        - factors
        - velocity_alerts
        - should_block
        - checked_at
    RiskFactor:
      type: object
      properties:
        name:
          type: string
        severity:
          type: string
        description:
          type: string
      required:
        - name
        - severity
        - description
    VelocityAlert:
      type: object
      properties:
        name:
          type: string
        severity:
          type: string
          enum:
            - info
            - warning
            - critical
        message:
          type: string
      required:
        - name
        - severity
        - message
    EvidencePack:
      type: object
      properties:
        object:
          type: string
          enum:
            - evidence_pack
        dispute_id:
          type: string
        transaction_id:
          type: string
        customer:
          type:
            - object
            - 'null'
          properties:
            email:
              type:
                - string
                - 'null'
            name:
              type:
                - string
                - 'null'
            phone:
              type:
                - string
                - 'null'
            first_seen_at:
              type:
                - string
                - 'null'
              format: date-time
            total_transactions:
              type:
                - integer
                - 'null'
          required:
            - email
            - name
            - phone
            - first_seen_at
            - total_transactions
          description: Customer profile if available.
        transaction:
          type: object
          properties:
            amount_cents:
              type: integer
            created_at:
              type: string
              format: date-time
            description:
              type:
                - string
                - 'null'
            approval_code:
              type:
                - string
                - 'null'
            last4:
              type:
                - string
                - 'null'
            brand:
              type:
                - string
                - 'null'
          required:
            - amount_cents
            - created_at
            - description
            - approval_code
            - last4
            - brand
          description: Transaction details snapshot.
        booking:
          type:
            - object
            - 'null'
          properties:
            scheduled_for:
              type:
                - string
                - 'null'
              format: date-time
            service_name:
              type:
                - string
                - 'null'
            stylist_name:
              type:
                - string
                - 'null'
          required:
            - scheduled_for
            - service_name
            - stylist_name
          description: Associated booking if the transaction was tied to one.
        related_history:
          type: object
          properties:
            prior_successful_transactions:
              type: integer
              minimum: 0
            prior_disputes:
              type: integer
              minimum: 0
            days_as_customer:
              type:
                - integer
                - 'null'
          required:
            - prior_successful_transactions
            - prior_disputes
            - days_as_customer
          description: Customer history that bolsters the legitimacy case.
        built_at:
          type: string
          format: date-time
      required:
        - object
        - dispute_id
        - transaction_id
        - customer
        - transaction
        - booking
        - related_history
        - built_at
    EvidencePackCreateRequest:
      type: object
      properties:
        transaction_id:
          type: string
          description: ID of the disputed charge. Accepts both 'ch_<id>' and bare '<id>' formats.
      required:
        - transaction_id
    WebhookDeliveryListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/WebhookDelivery'
        has_more:
          type: boolean
        next_cursor:
          type:
            - string
            - 'null'
      required:
        - data
        - has_more
        - next_cursor
    WebhookDelivery:
      type: object
      properties:
        id:
          type: string
          example: whd_clx7y8z9a0001b2c3d4e5f6g7
        object:
          type: string
          enum:
            - webhook_delivery
        webhook_id:
          type: string
          example: whk_clx7y8z9a0001b2c3d4e5f6g7
        event_id:
          type: string
        event_type:
          type: string
          example: charge.succeeded
        status:
          type: string
          enum:
            - pending
            - succeeded
            - failed
            - exhausted
        attempt_count:
          type: integer
          minimum: 0
        response_status:
          type:
            - integer
            - 'null'
        response_body:
          type:
            - string
            - 'null'
        error_message:
          type:
            - string
            - 'null'
        last_attempt_at:
          type:
            - string
            - 'null'
          format: date-time
        next_retry_at:
          type:
            - string
            - 'null'
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - object
        - webhook_id
        - event_id
        - event_type
        - status
        - attempt_count
        - response_status
        - response_body
        - error_message
        - last_attempt_at
        - next_retry_at
        - created_at
        - updated_at
    WebhookDeliveryReplayResponse:
      type: object
      properties:
        replay:
          type: object
          properties:
            succeeded:
              type: boolean
            attempt_count:
              type: integer
              minimum: 0
            status:
              type: string
              enum:
                - pending
                - succeeded
                - failed
                - exhausted
            response_status:
              type:
                - integer
                - 'null'
            error_message:
              type:
                - string
                - 'null'
          required:
            - succeeded
            - attempt_count
            - status
            - response_status
            - error_message
        delivery:
          allOf:
            - $ref: '#/components/schemas/WebhookDelivery'
            - type:
                - object
                - 'null'
      required:
        - replay
        - delivery
  parameters:
    IdempotencyKey:
      schema:
        $ref: '#/components/schemas/IdempotencyKey'
      required: true
      name: Idempotency-Key
      in: header
      description: >-
        A UUID v4 unique to this logical request. Reyna Pay caches the response for 7 days.
        Replaying the same key with an identical body returns the cached response. Replaying with a
        different body returns 409 idempotency_conflict. Generate a fresh UUID for every distinct
        logical action; reuse the same UUID when retrying the same action.
paths:
  /api/v1/health:
    get:
      summary: Health check
      description: >-
        Returns the engine's liveness status. Does not require authentication. Use this endpoint for
        uptime monitoring and to verify the engine is reachable.
      tags:
        - Health
      responses:
        '200':
          description: Engine is healthy and accepting requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/charges:
    get:
      summary: List charges
      description: >-
        Returns a paginated list of charges, ordered by creation time descending. Supports filtering
        by status, customer, stylist, booking, and date range. Uses cursor-based pagination — pass
        `next_cursor` from a previous response to fetch the next page.
      tags:
        - Charges
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 1
            maximum: 200
            description: Page size. Default 50, max 200.
          required: false
          description: Page size. Default 50, max 200.
          name: limit
          in: query
        - schema:
            type: string
            enum:
              - succeeded
              - failed
              - requires_capture
              - refunded
          required: false
          name: status
          in: query
        - schema:
            type: string
          required: false
          name: customer_id
          in: query
        - schema:
            type: string
          required: false
          name: stylist_id
          in: query
        - schema:
            type: string
          required: false
          name: booking_id
          in: query
        - schema:
            type: string
            format: date-time
            description: ISO 8601 lower bound (inclusive).
          required: false
          description: ISO 8601 lower bound (inclusive).
          name: from
          in: query
        - schema:
            type: string
            format: date-time
            description: ISO 8601 upper bound (inclusive).
          required: false
          description: ISO 8601 upper bound (inclusive).
          name: to
          in: query
        - schema:
            type: string
            description: Opaque cursor from a previous response.
          required: false
          description: Opaque cursor from a previous response.
          name: cursor
          in: query
      responses:
        '200':
          description: List of charges with pagination metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeListResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create a charge
      description: >-
        Charges a payment source. Supports saved cards (saved_card) and freshly tokenized cards from
        Hosted Fields (single_use_token). On success returns the Charge object with status
        'succeeded' (or 'requires_capture' if capture: false was sent). On card decline returns 422
        with payment_failed error code.
      tags:
        - Charges
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
          required: true
          name: Idempotency-Key
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeCreateRequest'
      responses:
        '201':
          description: Charge succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Idempotency conflict — same key replayed with different body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error or card declined.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/charges/{id}:
    get:
      summary: Retrieve a charge
      description: >-
        Returns the Charge object for the given ID. Accepts both `ch_<id>` (full prefixed ID) and
        bare `<id>` formats.
      tags:
        - Charges
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            example: ch_clx7y8z9a0001b2c3d4e5f6g7
          required: true
          name: id
          in: path
      responses:
        '200':
          description: Charge found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Charge not found or not owned by this merchant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/charges/{id}/capture:
    post:
      summary: Capture an auth-only charge
      description: >-
        Captures funds for a charge that was created with capture: false. Optional partial capture
        by sending amount_cents less than the original auth. Returns the updated Charge with status
        'succeeded'.
      tags:
        - Charges
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
        - schema:
            type: string
            format: uuid
          required: true
          name: Idempotency-Key
          in: header
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaptureCreateRequest'
      responses:
        '200':
          description: Capture succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Charge not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Capture failed (e.g., already captured, expired, decline).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/charges/{id}/refund:
    post:
      summary: Refund a charge
      description: >-
        Refunds part or all of a previous charge. If amount_cents is omitted, refunds the full
        remaining unrefunded amount. Multiple partial refunds are allowed up to the original charge
        amount.
      tags:
        - Charges
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
        - schema:
            type: string
            format: uuid
          required: true
          name: Idempotency-Key
          in: header
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundCreateRequest'
      responses:
        '201':
          description: Refund succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Charge not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Refund failed (e.g., over-refund, payroc rejection).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/charges/{id}/void:
    post:
      summary: Void an auth-only charge
      description: >-
        Voids a charge that has not yet been captured. Use this instead of refund for charges in
        'requires_capture' status — voiding releases the auth hold without creating a refund record.
        After capture, use refund instead.
      tags:
        - Charges
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
        - schema:
            type: string
            format: uuid
          required: true
          name: Idempotency-Key
          in: header
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidCreateRequest'
      responses:
        '200':
          description: Void succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Charge not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Void failed (e.g., already captured — use refund instead).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/tokenization/sessions:
    post:
      summary: Create a Hosted Fields tokenization session
      description: >-
        Creates a short-lived session token + SDK config bundle for client-side card tokenization
        via Payroc Hosted Fields. The merchant calls this server-side, then passes the response to
        the browser to initialize Payroc.hostedFields(). Card data flows directly from the
        customer's browser to Payroc — never touches your server.
      tags:
        - Tokenization
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenizationSessionCreateRequest'
      responses:
        '200':
          description: Tokenization session created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenizationSession'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to create session (e.g., Payroc unreachable).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/customers:
    get:
      summary: List customers
      description: >-
        Returns a paginated list of customers ordered by most-recent visit descending. Supports
        filtering by engagement tier and free-text search on email/name/phone.
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 1
            maximum: 200
          required: false
          name: limit
          in: query
        - schema:
            type: string
            description: Substring match on email, name, or phone. Case-insensitive.
          required: false
          description: Substring match on email, name, or phone. Case-insensitive.
          name: search
          in: query
        - schema:
            type: string
            enum:
              - new
              - regular
              - occasional
              - lapsed
            description: >-
              Customer engagement tier computed from visit history: new (no transactions yet),
              occasional (1–3 visits in last 365d), regular (4+ visits in last 365d), lapsed (had
              transactions but last visit was more than 365 days ago).
          required: false
          description: >-
            Customer engagement tier computed from visit history: new (no transactions yet),
            occasional (1–3 visits in last 365d), regular (4+ visits in last 365d), lapsed (had
            transactions but last visit was more than 365 days ago).
          name: tier
          in: query
        - schema:
            type: string
          required: false
          name: cursor
          in: query
      responses:
        '200':
          description: List of customers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerListResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/customers/lookup:
    get:
      summary: Look up a customer by email or phone
      description: >-
        Finds a single customer matching the provided email or phone. Useful for de-duplication
        during checkout or walk-in flows. Either email or phone is required.
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            format: email
          required: false
          name: email
          in: query
        - schema:
            type: string
          required: false
          name: phone
          in: query
      responses:
        '200':
          description: Customer found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          description: Neither email nor phone provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Customer not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/customers/{id}:
    get:
      summary: Retrieve a customer with saved cards + recent transactions
      description: >-
        Returns a customer detail object including up to 50 saved payment methods and the 25 most
        recent transactions inline. Optimized for checkout / customer profile views — fetches
        everything needed to display a customer profile in one call.
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
      responses:
        '200':
          description: Customer detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDetail'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Customer not found or not owned by this merchant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/customers/{id}/lifetime-value:
    get:
      summary: Customer lifetime value with annual breakdown
      description: >-
        Computes total spend, transaction count, average ticket, highest ticket, and a year-by-year
        breakdown for the customer. Computed live from successful transactions; cache at the
        consumer if needed.
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
      responses:
        '200':
          description: Lifetime value computed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerLtv'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Customer not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/customers/{id}/visits:
    get:
      summary: Customer visit summary + history
      description: >-
        Returns visit cadence statistics (visits in last 30/90/365 days, average days between
        visits, tier classification) plus the most recent visits with stylist attribution. Use limit
        query param to control how many visits are returned (default 50, max 200).
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
        - schema:
            type: integer
            minimum: 1
            maximum: 200
          required: false
          name: limit
          in: query
      responses:
        '200':
          description: Visit summary computed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerVisits'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Customer not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/cards:
    get:
      summary: List saved cards
      description: >-
        Returns saved payment methods for the merchant. Filter by customer_id, customer_email
        (substring match), or status. Cursor pagination via next_cursor.
      tags:
        - Cards
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 1
            maximum: 200
          required: false
          name: limit
          in: query
        - schema:
            type: string
          required: false
          name: customer_id
          in: query
        - schema:
            type: string
          required: false
          name: customer_email
          in: query
        - schema:
            type: string
            enum:
              - active
              - revoked
              - expired
          required: false
          name: status
          in: query
        - schema:
            type: string
          required: false
          name: cursor
          in: query
      responses:
        '200':
          description: List of cards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardListResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/cards/{id}:
    get:
      summary: Retrieve a saved card
      description: Returns a single saved card. ID accepts both `card_<id>` and bare `<id>` formats.
      tags:
        - Cards
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
      responses:
        '200':
          description: Card found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Card not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Revoke a saved card
      description: >-
        Deletes the saved payment method. The Payroc secureToken is deleted on the processor side
        FIRST; only after Payroc confirms (or returns 404) is the local row marked revoked. This
        prevents drift between local state and Payroc state. If Payroc is unreachable, returns 502
        and the card is NOT revoked locally — retry later.
      tags:
        - Cards
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
      responses:
        '200':
          description: Card revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardDeleteResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Card not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Card already revoked or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Payroc deletion failed; card remains active locally — retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/locations:
    post:
      summary: Create a location
      description: >-
        Creates a new physical location for the merchant. Use for multi-location franchises — Salon
        Envy operates two locations (Corpus Christi + San Antonio), other franchises operate dozens.
        The first location created for a merchant is automatically the primary. Subsequent locations
        can be marked primary via is_primary: true (which demotes the previous primary in a single
        transaction).
      tags:
        - Locations
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationCreateRequest'
      responses:
        '201':
          description: Location created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Validation error (missing name, invalid state/zip, etc.).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/me:
    get:
      summary: Who am I?
      description: >-
        Returns the merchant and API key context associated with the bearer token. Useful for
        authentication smoke tests, multi-merchant tooling, and debugging which key is being used.
      tags:
        - Self
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auth context for this API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/reports/transactions:
    get:
      summary: Transactions report (grouped by period)
      description: >-
        Aggregates successful transactions over a date range, grouped by day, week, or month.
        Returns per-period volume + count + fees + net + tips + refunds, plus totals for the entire
        range. Useful for revenue dashboards and trend analysis.
      tags:
        - Reports
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            format: date-time
            description: ISO 8601 lower bound (inclusive). Required.
          required: true
          description: ISO 8601 lower bound (inclusive). Required.
          name: from
          in: query
        - schema:
            type: string
            format: date-time
            description: ISO 8601 upper bound (inclusive). Required.
          required: true
          description: ISO 8601 upper bound (inclusive). Required.
          name: to
          in: query
        - schema:
            type: string
            enum:
              - day
              - week
              - month
            description: Default 'day'.
          required: false
          description: Default 'day'.
          name: group_by
          in: query
      responses:
        '200':
          description: Report computed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsReport'
        '400':
          description: Missing or invalid date range.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/reports/cash-flow:
    get:
      summary: Cash flow over the last N days
      description: >-
        Returns inflow (charges) and outflow (payouts) summary for the past N days. Includes pending
        payouts separately so you can see what's en-route to the bank.
      tags:
        - Reports
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 7
            maximum: 365
            description: Window size in days. Default 30, min 7, max 365.
          required: false
          description: Window size in days. Default 30, min 7, max 365.
          name: days
          in: query
      responses:
        '200':
          description: Cash flow computed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashFlowReport'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/reports/payouts:
    get:
      summary: Payout history
      description: >-
        Returns up to 200 payouts ordered by most recent first. Optional date range and status
        filter. Use this to reconcile bank deposits against engine-tracked payouts.
      tags:
        - Reports
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            format: date-time
          required: false
          name: from
          in: query
        - schema:
            type: string
            format: date-time
          required: false
          name: to
          in: query
        - schema:
            type: string
            description: e.g. 'paid', 'pending', 'in_transit', 'failed'.
          required: false
          description: e.g. 'paid', 'pending', 'in_transit', 'failed'.
          name: status
          in: query
      responses:
        '200':
          description: Payouts list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutsReport'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/reports/risk:
    get:
      summary: Chargeback ratio + Visa monitoring status
      description: >-
        Computes the merchant's chargeback ratio over the specified window. Cross-checked against
        Payroc's dispute count to ensure local state is not under-counting (audit fix). Critical for
        staying off Visa's monitoring program — exceeding 0.9% triggers fees, 1.8% can trigger
        account termination.
      tags:
        - Reports
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 7
            maximum: 365
            description: Window in days. Default 90, min 7, max 365.
          required: false
          description: Window in days. Default 90, min 7, max 365.
          name: days
          in: query
      responses:
        '200':
          description: Risk metrics computed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskReport'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/reports/stylist-attribution:
    get:
      summary: Per-stylist revenue + commission attribution
      description: >-
        Groups successful transactions by stylist over the date range. Returns volume, tip total,
        commission (if rate configured), and average ticket per stylist. Sorted by volume
        descending. Use this for payroll prep and stylist performance tracking.
      tags:
        - Reports
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            format: date-time
            description: ISO 8601 lower bound. Required.
          required: true
          description: ISO 8601 lower bound. Required.
          name: from
          in: query
        - schema:
            type: string
            format: date-time
            description: ISO 8601 upper bound. Required.
          required: true
          description: ISO 8601 upper bound. Required.
          name: to
          in: query
      responses:
        '200':
          description: Attribution computed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StylistAttributionReport'
        '400':
          description: Missing or invalid date range.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/risk/check:
    get:
      summary: Pre-charge risk evaluation
      description: >-
        Lightweight LOOKUP (no state change) that returns a risk score, band, and recommendation for
        a hypothetical charge. Use before POST /api/v1/charges when you want to surface a warning to
        a human reviewer or auto-decline obvious fraud. Idempotent — call as many times as you want
        without side effects (other than reading velocity counters).
      tags:
        - Risk
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            exclusiveMinimum: 0
            description: Hypothetical charge amount in cents. Required.
          required: true
          description: Hypothetical charge amount in cents. Required.
          name: amount_cents
          in: query
        - schema:
            type: string
            description: Optional. If provided, customer history factors into the score.
          required: false
          description: Optional. If provided, customer history factors into the score.
          name: customer_id
          in: query
        - schema:
            type: string
            format: email
            description: Optional. Used for velocity matching when customer_id is unknown.
          required: false
          description: Optional. Used for velocity matching when customer_id is unknown.
          name: customer_email
          in: query
        - schema:
            type: string
            minLength: 4
            maxLength: 4
            description: Optional. Used for card-velocity (same card across customers) detection.
          required: false
          description: Optional. Used for card-velocity (same card across customers) detection.
          name: card_last4
          in: query
      responses:
        '200':
          description: Risk evaluation computed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskCheckResponse'
        '400':
          description: Missing or invalid amount_cents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Customer not found (when customer_id provided).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/disputes/{id}/evidence-pack:
    post:
      summary: Build a chargeback evidence pack
      description: >-
        Constructs a structured evidence bundle for a chargeback / dispute. Includes the transaction
        snapshot, customer history, associated booking, and prior-relationship signals. Submit the
        response to your acquirer to contest the dispute.
      tags:
        - Disputes
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: Payroc-side dispute ID being contested.
          required: true
          description: Payroc-side dispute ID being contested.
          name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvidencePackCreateRequest'
      responses:
        '200':
          description: Evidence pack built.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidencePack'
        '400':
          description: Missing transaction_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Transaction not found or not owned by this merchant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/webhooks/{id}/deliveries:
    get:
      summary: List webhook delivery attempts
      description: >-
        Returns delivery history for a webhook endpoint, ordered by created_at descending. Filter by
        status (pending/succeeded/failed/exhausted) or event_type. Use this to debug why your
        webhook receiver is missing events.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: Webhook ID. Accepts both 'whk_<id>' and bare '<id>' formats.
          required: true
          description: Webhook ID. Accepts both 'whk_<id>' and bare '<id>' formats.
          name: id
          in: path
        - schema:
            type: integer
            minimum: 1
            maximum: 200
          required: false
          name: limit
          in: query
        - schema:
            type: string
            enum:
              - pending
              - succeeded
              - failed
              - exhausted
          required: false
          name: status
          in: query
        - schema:
            type: string
          required: false
          name: event_type
          in: query
        - schema:
            type: string
          required: false
          name: cursor
          in: query
      responses:
        '200':
          description: Delivery history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryListResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Webhook not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/webhooks/{id}/deliveries/{deliveryId}/replay:
    post:
      summary: Replay a failed webhook delivery
      description: >-
        Manually retries a failed or exhausted webhook delivery. Resets the attempt counter to allow
        one more delivery attempt. Cannot replay deliveries in 'pending' (still in flight) or
        'succeeded' (nothing to replay) states. Returns the replay outcome plus the updated delivery
        record.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            description: Webhook ID.
          required: true
          description: Webhook ID.
          name: id
          in: path
        - schema:
            type: string
            description: Delivery ID. Accepts both 'whd_<id>' and bare '<id>' formats.
          required: true
          description: Delivery ID. Accepts both 'whd_<id>' and bare '<id>' formats.
          name: deliveryId
          in: path
      responses:
        '200':
          description: Replay attempted (may have succeeded or failed — check replay.succeeded).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryReplayResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Webhook or delivery not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Delivery cannot be replayed (already succeeded or still pending).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
webhooks: {}
