openapi: 3.1.0
info:
  title: Reyna Pay Engine API
  version: v1
  description: |-
    The Reyna Pay engine processes payments, manages customers,
    tokenizes cards, tracks risk, and exposes reporting.

    All endpoints under /api/v1/* require an API key passed via
    the `Authorization: Bearer <key>` header. POST endpoints
    additionally require an `Idempotency-Key: <UUID v4>` header
    to prevent duplicate processing.

    See https://docs.reynapay.com for integration guides.
  contact:
    name: Reyna Pay Engineering
    email: engineering@reynapay.com
servers:
  - url: https://portal.salontransact.com
    description: Production
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Reyna Pay API key
      description: >-
        Bearer authentication using a Reyna Pay API key. Issued per merchant via the merchant
        portal. Pass as `Authorization: Bearer <key>`. Keys begin with `rp_live_` (production) or
        `rp_test_` (test mode).
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - unauthorized
                - forbidden
                - not_found
                - validation_error
                - idempotency_conflict
                - rate_limit_exceeded
                - payment_failed
                - internal_error
                - method_not_allowed
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              additionalProperties: {}
              description: Optional structured error details (e.g. failed field name)
          required:
            - code
            - message
      required:
        - error
    IdempotencyKey:
      type: string
      format: uuid
      example: 550e8400-e29b-41d4-a716-446655440000
    HealthResponse:
      type: object
      properties:
        ok:
          type: boolean
          enum:
            - true
          example: true
        service:
          type: string
          example: salontransact-engine
        version:
          type: string
          example: '2026-04-29'
      required:
        - ok
        - service
        - version
    ChargeListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Charge'
        has_more:
          type: boolean
        next_cursor:
          type:
            - string
            - 'null'
          description: >-
            Opaque base64url-encoded cursor. Pass to the next request as ?cursor=<value>. Null when
            there are no more pages.
      required:
        - data
        - has_more
        - next_cursor
    Charge:
      type: object
      properties:
        id:
          type: string
          example: ch_clx7y8z9a0001b2c3d4e5f6g7
        object:
          type: string
          enum:
            - charge
        status:
          type: string
          enum:
            - succeeded
            - failed
            - requires_capture
          description: >-
            succeeded = funds captured. failed = card declined or processing error. requires_capture
            = auth-only, awaiting POST /charges/:id/capture.
        amount_cents:
          type: integer
          exclusiveMinimum: 0
          example: 8500
        currency:
          type: string
          minLength: 3
          maxLength: 3
          example: usd
        captured:
          type: boolean
        captured_at:
          type:
            - string
            - 'null'
          format: date-time
        description:
          type:
            - string
            - 'null'
        source:
          $ref: '#/components/schemas/ChargeSource'
        customer_id:
          type:
            - string
            - 'null'
        stylist_id:
          type:
            - string
            - 'null'
        booking_id:
          type:
            - string
            - 'null'
        tip_amount_cents:
          type: integer
          minimum: 0
        items:
          type:
            - array
            - 'null'
          items:
            $ref: '#/components/schemas/ChargeItem'
        metadata:
          type:
            - object
            - 'null'
          additionalProperties: {}
        approval_code:
          type:
            - string
            - 'null'
        decline_reason:
          type:
            - string
            - 'null'
        created_at:
          type: string
          format: date-time
        payroc:
          type: object
          properties:
            payment_id:
              type:
                - string
                - 'null'
          required:
            - payment_id
      required:
        - id
        - object
        - status
        - amount_cents
        - currency
        - captured
        - captured_at
        - description
        - source
        - customer_id
        - stylist_id
        - booking_id
        - tip_amount_cents
        - items
        - metadata
        - approval_code
        - decline_reason
        - created_at
        - payroc
    ChargeSource:
      type: object
      properties:
        type:
          type: string
          enum:
            - saved_card
            - single_use_token
          description: >-
            saved_card = use a previously stored Payroc secureToken. single_use_token = use a
            freshly tokenized card from Hosted Fields (one-time use, ~30 minute lifetime).
        id:
          type:
            - string
            - 'null'
          description: >-
            For saved_card: the SavedPaymentMethod row ID. For single_use_token: the Payroc
            single-use token. Null when the source identifier is not available in the response
            (e.g., older transactions without source metadata).
        last4:
          type:
            - string
            - 'null'
          minLength: 4
          maxLength: 4
          description: Last 4 digits of the card. Null if unknown.
        brand:
          type:
            - string
            - 'null'
          description: Card brand (Visa, Mastercard, AmEx, Discover, etc). Null if unknown.
      required:
        - type
        - id
        - last4
        - brand
    ChargeItem:
      type: object
      properties:
        name:
          type: string
          maxLength: 200
          example: Haircut & Style
        amount_cents:
          type: integer
          minimum: 0
          example: 8500
      required:
        - name
        - amount_cents
    ChargeCreateRequest:
      type: object
      properties:
        amount_cents:
          type: integer
          exclusiveMinimum: 0
          example: 8500
          description: Amount to charge in cents. Must be a positive integer.
        currency:
          type: string
          minLength: 3
          maxLength: 3
          example: usd
          description: ISO 4217 currency code, lowercase. Defaults to 'usd'.
        description:
          type: string
          maxLength: 500
          example: Haircut & color — Apr 30
        source:
          type: object
          properties:
            type:
              type: string
              enum:
                - saved_card
                - single_use_token
            id:
              type: string
              minLength: 1
          required:
            - type
            - id
          description: >-
            Payment source. saved_card.id = SavedPaymentMethod row ID. single_use_token.id = Payroc
            single-use token from Hosted Fields submissionSuccess event.
        customer_id:
          type: string
        customer_email:
          type: string
          format: email
        customer_name:
          type: string
          maxLength: 200
        capture:
          type: boolean
          description: >-
            true (default) = authorize and capture immediately. false = authorize only; call POST
            /charges/:id/capture to capture later. Auths expire per Payroc rules (typically 7 days
            for most card brands).
        stylist_id:
          type: string
        booking_id:
          type: string
        tip_amount_cents:
          type: integer
          minimum: 0
          description: Tip in cents. Must not exceed amount_cents. Tracked separately for stylist attribution.
        items:
          type: array
          items:
            $ref: '#/components/schemas/ChargeItem'
          maxItems: 100
        metadata:
          type: object
          additionalProperties: {}
          description: >-
            Arbitrary JSON object for merchant-specific data. Max 10KB serialized. Stripped of
            internal Reyna Pay keys before being returned in responses.
      required:
        - amount_cents
        - source
    CaptureCreateRequest:
      type: object
      properties:
        amount_cents:
          type: integer
          exclusiveMinimum: 0
          description: >-
            Capture amount in cents. Defaults to the original auth amount. May be less than the
            original auth (partial capture) but not greater.
    Refund:
      type: object
      properties:
        id:
          type: string
          example: rf_clx7y8z9a0001b2c3d4e5f6g7
        object:
          type: string
          enum:
            - refund
        charge_id:
          type: string
          example: ch_clx7y8z9a0001b2c3d4e5f6g7
        amount_cents:
          type: integer
          exclusiveMinimum: 0
        total_refunded_cents:
          type: integer
          minimum: 0
        original_amount_cents:
          type: integer
          exclusiveMinimum: 0
        fully_refunded:
          type: boolean
        reason:
          type:
            - string
            - 'null'
        created_at:
          type: string
          format: date-time
        payroc:
          type: object
          properties:
            refund_id:
              type:
                - string
                - 'null'
          required:
            - refund_id
      required:
        - id
        - object
        - charge_id
        - amount_cents
        - total_refunded_cents
        - original_amount_cents
        - fully_refunded
        - reason
        - created_at
        - payroc
    RefundCreateRequest:
      type: object
      properties:
        amount_cents:
          type: integer
          exclusiveMinimum: 0
          description: >-
            Amount to refund in cents. Defaults to the remaining unrefunded amount on the charge.
            Must not exceed (original - already refunded).
        reason:
          type: string
          maxLength: 200
    Void:
      type: object
      properties:
        id:
          type: string
          example: vd_clx7y8z9a0001b2c3d4e5f6g7_1234567890
        object:
          type: string
          enum:
            - void
        charge_id:
          type: string
        reason:
          type:
            - string
            - 'null'
        voided_at:
          type: string
          format: date-time
        payroc:
          type: object
          properties:
            void_id:
              type:
                - string
                - 'null'
          required:
            - void_id
      required:
        - id
        - object
        - charge_id
        - reason
        - voided_at
        - payroc
    VoidCreateRequest:
      type: object
      properties:
        reason:
          type: string
          maxLength: 200
    TokenizationSession:
      type: object
      properties:
        object:
          type: string
          enum:
            - tokenization_session
        session_token:
          type: string
          description: >-
            Short-lived token used to bootstrap a Hosted Fields session in the browser. Pass to
            Payroc.hostedFields() as sessionToken.
        expires_at:
          type: string
          format: date-time
        terminal_id:
          type: string
        lib_url:
          type: string
          format: uri
          description: >-
            Pinned CDN URL of the Hosted Fields SDK. Load this script in the browser BEFORE calling
            Payroc.hostedFields().
        integrity:
          type: string
          description: >-
            Subresource Integrity hash for the SDK script tag. Pass as the integrity attribute on
            the <script> tag for tamper protection.
        scenario:
          type: string
          enum:
            - payment
            - tokenization
      required:
        - object
        - session_token
        - expires_at
        - terminal_id
        - lib_url
        - integrity
        - scenario
    TokenizationSessionCreateRequest:
      type: object
      properties:
        scenario:
          type: string
          enum:
            - payment
            - tokenization
          description: >-
            payment (default) = single-use card tokenization for an immediate charge. tokenization =
            card tokenization for storage as a saved card.
  parameters:
    IdempotencyKey:
      schema:
        $ref: '#/components/schemas/IdempotencyKey'
      required: true
      name: Idempotency-Key
      in: header
      description: >-
        A UUID v4 unique to this logical request. Reyna Pay caches the response for 7 days.
        Replaying the same key with an identical body returns the cached response. Replaying with a
        different body returns 409 idempotency_conflict. Generate a fresh UUID for every distinct
        logical action; reuse the same UUID when retrying the same action.
paths:
  /api/v1/health:
    get:
      summary: Health check
      description: >-
        Returns the engine's liveness status. Does not require authentication. Use this endpoint for
        uptime monitoring and to verify the engine is reachable.
      tags:
        - Health
      responses:
        '200':
          description: Engine is healthy and accepting requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/charges:
    get:
      summary: List charges
      description: >-
        Returns a paginated list of charges, ordered by creation time descending. Supports filtering
        by status, customer, stylist, booking, and date range. Uses cursor-based pagination — pass
        `next_cursor` from a previous response to fetch the next page.
      tags:
        - Charges
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 1
            maximum: 200
            description: Page size. Default 50, max 200.
          required: false
          description: Page size. Default 50, max 200.
          name: limit
          in: query
        - schema:
            type: string
            enum:
              - succeeded
              - failed
              - requires_capture
              - refunded
          required: false
          name: status
          in: query
        - schema:
            type: string
          required: false
          name: customer_id
          in: query
        - schema:
            type: string
          required: false
          name: stylist_id
          in: query
        - schema:
            type: string
          required: false
          name: booking_id
          in: query
        - schema:
            type: string
            format: date-time
            description: ISO 8601 lower bound (inclusive).
          required: false
          description: ISO 8601 lower bound (inclusive).
          name: from
          in: query
        - schema:
            type: string
            format: date-time
            description: ISO 8601 upper bound (inclusive).
          required: false
          description: ISO 8601 upper bound (inclusive).
          name: to
          in: query
        - schema:
            type: string
            description: Opaque cursor from a previous response.
          required: false
          description: Opaque cursor from a previous response.
          name: cursor
          in: query
      responses:
        '200':
          description: List of charges with pagination metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeListResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create a charge
      description: >-
        Charges a payment source. Supports saved cards (saved_card) and freshly tokenized cards from
        Hosted Fields (single_use_token). On success returns the Charge object with status
        'succeeded' (or 'requires_capture' if capture: false was sent). On card decline returns 422
        with payment_failed error code.
      tags:
        - Charges
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
          required: true
          name: Idempotency-Key
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeCreateRequest'
      responses:
        '201':
          description: Charge succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Idempotency conflict — same key replayed with different body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error or card declined.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/charges/{id}:
    get:
      summary: Retrieve a charge
      description: >-
        Returns the Charge object for the given ID. Accepts both `ch_<id>` (full prefixed ID) and
        bare `<id>` formats.
      tags:
        - Charges
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
            example: ch_clx7y8z9a0001b2c3d4e5f6g7
          required: true
          name: id
          in: path
      responses:
        '200':
          description: Charge found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Charge not found or not owned by this merchant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/charges/{id}/capture:
    post:
      summary: Capture an auth-only charge
      description: >-
        Captures funds for a charge that was created with capture: false. Optional partial capture
        by sending amount_cents less than the original auth. Returns the updated Charge with status
        'succeeded'.
      tags:
        - Charges
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
        - schema:
            type: string
            format: uuid
          required: true
          name: Idempotency-Key
          in: header
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaptureCreateRequest'
      responses:
        '200':
          description: Capture succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Charge not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Capture failed (e.g., already captured, expired, decline).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/charges/{id}/refund:
    post:
      summary: Refund a charge
      description: >-
        Refunds part or all of a previous charge. If amount_cents is omitted, refunds the full
        remaining unrefunded amount. Multiple partial refunds are allowed up to the original charge
        amount.
      tags:
        - Charges
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
        - schema:
            type: string
            format: uuid
          required: true
          name: Idempotency-Key
          in: header
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundCreateRequest'
      responses:
        '201':
          description: Refund succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Charge not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Refund failed (e.g., over-refund, payroc rejection).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/charges/{id}/void:
    post:
      summary: Void an auth-only charge
      description: >-
        Voids a charge that has not yet been captured. Use this instead of refund for charges in
        'requires_capture' status — voiding releases the auth hold without creating a refund record.
        After capture, use refund instead.
      tags:
        - Charges
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
        - schema:
            type: string
            format: uuid
          required: true
          name: Idempotency-Key
          in: header
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidCreateRequest'
      responses:
        '200':
          description: Void succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Charge not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Void failed (e.g., already captured — use refund instead).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/tokenization/sessions:
    post:
      summary: Create a Hosted Fields tokenization session
      description: >-
        Creates a short-lived session token + SDK config bundle for client-side card tokenization
        via Payroc Hosted Fields. The merchant calls this server-side, then passes the response to
        the browser to initialize Payroc.hostedFields(). Card data flows directly from the
        customer's browser to Payroc — never touches your server.
      tags:
        - Tokenization
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenizationSessionCreateRequest'
      responses:
        '200':
          description: Tokenization session created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenizationSession'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to create session (e.g., Payroc unreachable).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
webhooks: {}
